header
  a(href="/").header_logo
    img(src="https://i.namu.wiki/i/ZeGyGSMrhzgWKo3Eqyd187RMVXYdCS4z_bntrrcxLry93qlkFJfqe1TawrgHL2VsSNUOkLzB4K9NUtRNc_d1FkryYWHFUZdddKcG73kvhAqFelJR-TO7BsKiNWkbAGtO67gB00_V19yb0SX5xj2fHQ.svg", alt="")
  nav 
    ul    
      if loggedIn
        li 
          a(href="/videos/upload").loggined.header_btn Upload Video
        li
          a(href="/users/edit").loggined.header_btn Profile Edit
        li 
          a(href="/users/logout").loggined.header_btn Logout
        li 
          a(href=`/users/${loggedInUser._id}`)
            if !loggedInUser.avatarUrl
              span 😀
            else
              img(src="/" + loggedInUser.avatarUrl width="40" height="40").header_avatar
      else 
        li
          a(href="/login").header_btn login
        li 
          a(href="/join").header_btn Join
      li 
        a(href="/search")
          i.fas.fa-magnifying-glass