* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table {
  width: auto;
  margin: 10px;
  display: inline-block;
  // display: flex;
}

th {
  width: 80px;
}

td {
  width: 250px;
  padding: 10px 20px;
}
