// Config SCSS
@import "./config/_variable";
@import "./config/_reset";

// Components SCSS
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/form.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens SCSS
@import "./screens/home.scss";
@import "./screens/search.scss";

main {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto 40px;
}
