* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 500px;
  margin: 80px auto;
}
.App section {
  background: #ccc;
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
}
.App section .buttons {
  display: flex;
  gap: 10px;
}
.App section .buttons button {
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  background: #f00;
  cursor: pointer;
}