extends base.pug

block content
  div
    video#preview
    button#startBtn Start Recording
  if errorMessage
    span=errorMessage
  form(method="POST" enctype="multipart/form-data")
    label(for="video") Video File
    input(type="file" id="video" name="video" accept="video/*" required)
    input(name="title" type="text" placeholder="Title" maxlength=80 required)
    input(name="description" type="text" placeholder="Description" minlength=20 required)
    input(name="hashtags" type="text" placeholder="Hashtags, Separated by Comma" required)
    input(type="submit" value="Upload Video")
block scripts 
    script(src="/assets/js/recorder.js")
        //- 인코딩타입이 멀티 파트여야 upload파일로 갈 수 있다 enctype="multipart/form-data"