<<<<<<< HEAD
$contents-colors: (
  bgColor: #ffde03,
  subColor: #4833cc,
  btnColor: #f5efef,
  textcolor: #606060,
  lightColor: #ffffff,
);
=======
$contents-colors: (
  bgColor: #ffde03,
  subColor: #4833cc,
  btnColor: #f5efef,
  textcolor: #606060,
  lightColor: #ffffff,
);
>>>>>>> 7bd48494bcf5c0da7006df9079f44f15e0cc4e1b
