extends base.pug

bolock content 
form("POST")
input( name="title" type="text" placeholder="Title" required)
input( name="description" type="text" placeholder="Description" required)
input( name="hashtags" type="text" placeholder="Hashtags,Separated by Comma" required)
input(type="submit" value="Upload Video")