extends base.pug

block content 
  h3 #{video.views} #{video.views === 1 ? "view" : "views"}
  a(href=`${video.id}/edit`) Edit Video &rarr;
  //- /가들어가지 않는다면 videos를 기준으로 상대적으로 움직이겠다
  //- /를 쓴다는 것은 여기 있는 url값만 붙이겠다 절대적으로 움직이겠다